*{
    background-color: hsl(0, 0%, 4%);
    color:#eadede;
}
span {
    font-size: 1rem;
    font-weight:700;
    font-family: Arial, Helvetica, sans-serif;
    filter: drop-shadow(2px 2px 2px rgb(203, 206, 46));
    color: hsl(60, 100%, 50%);
}